<template>
 <div class="bulb-container py-4"
  v-bind:class="{ 'night': getStatus }"> 
  <v-overlay
    :z-index="2"
    :absolute="true"
    :value="overlay"
  >
    <v-progress-circular
      v-if="show"
      indeterminate
      color="primary"
    ></v-progress-circular>
    <v-overlay 
      :z-index="2"
    :absolute="true"
     v-if="!show"
     :value="overlay">
      <v-btn
        icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-overlay>    
  </v-overlay>     
    <a class="bulb-light" v-on:click="changeOverlay(); $emit('changeStatus')">
      
      <div id="light"></div>
      
      <div id="bulb">
        <div class="bulb-top">
          <div class="reflection"></div>
        </div>
        <div class="bulb-middle-1"></div>
        <div class="bulb-middle-2"></div>
        <div class="bulb-middle-3"></div> 
        <div class="bulb-bottom"></div>
      </div>
        
      <div id="base">
        <div class="screw-top"></div>
        <div class="screw-a"></div>
        <div class="screw-b"></div>
        <div class="screw-a"></div>
        <div class="screw-b"></div>
        <div class="screw-a"></div>
        <div class="screw-b"></div>
        <div class="screw-c"></div>
        <div class="screw-d"></div>
      </div>
    </a> 
  </div>
</template>
<script>
export default {
    name: 'Bulb',

    props: {
        status: {
            type: String,
            default: "0"
        },
        deviceState: {
          type: String,
          default: "0" 
        }
    },

    data : function () {
        return {
          overlay : false,
          show : true,
        }
    },

    created() {
        if(this.deviceState == "0"){
          this.overlay = true
          this.show = false
        }else{
          this.overlay = false
          this.show = true
        }
    },

    computed: {
        getStatus: function () { 
          if (this.status == "0"){
            return true
          }else{
            return false
          }
        },
    },
    watch: {
      status: function(){
        if(this.deviceState != "0"){
          this.overlay = false
        }
      },
      deviceState: function(){
        if(this.deviceState == "0"){
          this.overlay = true
          this.show = false
        }else{
          this.overlay = false
          this.show = true
        }
      }
    },

    methods: {
      changeOverlay: function(){
        this.overlay = true
      }
    }
    
}
</script>
<style>
body { background: #FFF; }
.night { background: #FFF; }

.bulb-container {
  text-align: center;
  margin: 20px auto;
}

h2 { color: #CCC; }

.bulb-light {
  position: relative;
  border: 0;
  background: transparent;
  margin: 0 auto !important;
  padding: 0 !important;
  cursor: pointer;
  display: block;
  z-index: 1;
}

#light {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; 
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  /*box-shadow: 0px 0px 500px rgba(255,210,00,1), inset 0px 0px 500px 90px rgba(255,210,00,0.42); 
  -moz-box-shadow: 0px 0px 500px rgba(255,210,00,1), inset 0px 0px 500px 90px rgba(255,210,00,0.42);
  -webkit-box-shadow: 0px 0px 500px rgba(255,210,00,1), inset 0px 0px 500px 90px rgba(255,210,00,0.42);
  -moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	-khtml-border-radius: 999px;*/
	border-radius: 999px;
  width: 290px;
  height: 290px;
  background: none;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

#bulb { 
  opacity: 1;
  z-index: 3;
}

.bulb-top {
  position: relative;
  border: 0;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 0;
  -moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	-khtml-border-radius: 999px;
	border-radius: 999px;
  background: #E7E7E7;
  box-shadow: inset 0px 10px 15px -5px rgba(10,30,60,0.1); 
  -moz-box-shadow: inset 0px 10px 15px -5px rgba(10,30,60,0.1);  
  -webkit-box-shadow: inset 0px 20px 40px -10px rgba(10,30,60,0.1);  
}

.reflection {
  position: absolute;
  top: 50px;
  left: 50px;
  background: rgba(255,255,255,0.8);
  width: 50px;
  height: 50px;
  -moz-border-radius: 999px 400px;
	-webkit-border-radius: 999px 400px;
	-khtml-border-radius: 999px 400px;
	border-radius: 999px 400px;
}

.bulb-middle-1 {
  margin: -75px auto 0 auto;
  width: 130px; 
	height: 0; 
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 55px solid #E7E7E7;
}

.bulb-middle-2 {
  margin: -22px auto 0 auto;
  width: 125px; 
	height: 0; 
	border-left: 19px solid transparent;
	border-right: 19px solid transparent;
	border-top: 50px solid #E7E7E7;
}

.bulb-middle-3 {
  margin: -20px auto 0 auto;
  width: 98px; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 30px solid #E7E7E7;
}

.bulb-bottom {
  width: 92px;
  height: 35px;
  margin: -8px auto 0 auto;
  padding: 0;
  -moz-border-radius: 0 0 999px 999px;
	-webkit-border-radius: 0 0 999px 999px;
	-khtml-border-radius: 0 0 999px 999px;
	border-radius: 0 0 999px 999px;
  background: #E7E7E7;
  box-shadow: inset 0px -10px 14px -7px rgba(10,30,60,0.1); 
  -moz-box-shadow: inset 0px -10px 14px -7px rgba(10,30,60,0.1); 
  -webkit-box-shadow: inset 0px -10px 14px -7px rgba(10,30,60,0.1);
}

#base { position:relative; z-index: 2; }

.screw-top {
  margin: -18px auto -4px auto;
  padding: 0;
  width: 75px; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 21px solid #D3D3D3;
  -moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	-khtml-border-radius: 999px;
	border-radius: 999px;
}

.screw-a {
  background: #DDD;
  width: 75px;
  height: 7px;
  -moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	-khtml-border-radius: 999px;
	border-radius: 999px;
  margin: -1px auto 0px;
  padding: 0;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  /*
  box-shadow: inset 0px -2px 10px 0px rgba(10,30,60,0.2), 
    inset -20px 0px 60px -20px rgba(0,0,0,0.5); 
  -moz-box-shadow: inset 0px -2px 10px 0px rgba(10,30,60,0.2), 
    inset -20px 0px 60px -20px rgba(0,0,0,0.5);  
  -webkit-box-shadow: inset 0px -2px 10px 0px rgba(10,30,60,0.2), 
    inset -20px 0px 60px -20px rgba(0,0,0,0.5);
  */
}

.screw-b {
  background: #D9D9D9;
  width: 67px;
  height: 7px;
  margin: -1px auto 0px;
  padding: 0;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  /*
  box-shadow: inset -15px 0px 55px -20px rgba(0,0,0,0.5); 
  -moz-box-shadow: inset -15px 0px 55px -20px rgba(0,0,0,0.5);  
  -webkit-box-shadow: inset -15px 0px 55px -20px rgba(0,0,0,0.5);
  */
}

.screw-c2 {
  background: #DDD;
  width: 67px;
  height: 10px;
  margin: -1px auto 0px;
  padding: 0;
  -moz-border-radius: 0 0 999px 999px;
	-webkit-border-radius: 0 0 999px 999px;
	-khtml-border-radius: 0 0 999px 999px;
	border-radius: 0 0 999px 999px;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}

.screw-c {
  margin: -1px auto 0px;
  padding: 0;
  width: 80px; 
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 20px solid #DDD;
  -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}

.screw-d {
  margin: 0 auto;
  padding: 0;
  width: 15px; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 5px solid #444;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}

.night #light {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

body, .bulb-top, .bulb-bottom {
  -webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}

.bulb-middle-1, .bulb-middle-2, .bulb-middle-3 {
  -webkit-transition: border 0.5s ease-in-out;
	-moz-transition: border 0.5s ease-in-out;
	-o-transition: border 0.5s ease-in-out;
	transition: border 0.5s ease-in-out;
}

.night .bulb-top, .night .bulb-bottom { background: #FE3; }
.night .bulb-middle-1 {	border-top: 55px solid #FE3; }
.night .bulb-middle-2 {	border-top: 50px solid #FE3; }
.night .bulb-middle-3 {	border-top: 30px solid #FE3; }
</style>