<template>
<v-row justify="center" align="center">
    <v-overlay
        :z-index="2"
        :absolute="true"
        :value="overlay"
    >
        <v-progress-circular
        v-if="show"
        indeterminate
        color="primary"
        ></v-progress-circular>
        <v-overlay
        :z-index="2"
        :absolute="true"
        v-if="!show"
        :value="overlay">
        <v-btn
            icon>
            <v-icon>mdi-close</v-icon>
        </v-btn>
        </v-overlay>    
    </v-overlay>    
<div class="switch-wrap py-4">
  	<div class="inner-wrap-blank">
        <input type="checkbox">
        <span class="custom-checkbox"></span>
    </div>
  	<div class="inner-wrap">
        <input :checked="getStatus" v-on:click="changeOverlay(); $emit('changeStatus')" type="checkbox">
        <span class="custom-checkbox"></span>
    </div>
  	<div class="inner-wrap-blank">
        <input type="checkbox">
        <span class="custom-checkbox"></span>
    </div>
</div>
</v-row>    
</template>
<script>
export default {
    name: 'ElectricSwitch',
    
    props: {
        status: {
            type: String,
            default: '0'
        },
        deviceState: {
          type: String,
          default: '0'
        }
    },

    data : function () {
        return {
          overlay : false,
          show : true,
        }
    },    
    created() {
        if(this.deviceState == "0"){
          this.overlay = true
          this.show = false
        }else{
          this.overlay = false
          this.show = true
        }
    },

    computed: {
        getStatus: function () {
          if (this.status == "0"){
            return true
          }else{
            return false
          }
        },
    },
    watch: {
      status: function(){
        if(this.deviceState != "0"){
          this.overlay = false
        }
      },
      deviceState: function(){
        if(this.deviceState == "0"){
          this.overlay = true
          this.show = false
        }else{
          this.overlay = false
          this.show = true
        }
      }
    },

    methods: {
      changeOverlay: function(){
        this.overlay = true
      }
    }    
}
</script>
<style>
.switch-wrap {
	width: 220px;
	height: 160px;
	margin: 25px auto 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #546E7A;
	border-radius: 5px;
	position: relative;
}
.inner-wrap {
	height: 100px;
	width: 50px;
	position: relative;
}
.inner-wrap .custom-checkbox {
	position: absolute;
	box-shadow: 0 -1px 3px 0px #434343;
	background: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(24,24,24,1) 100%);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	transition: 300ms all;
}
.inner-wrap-blank {
	height: 100px;
	width: 50px;
	position: relative;
}
.inner-wrap-blank .custom-checkbox {
	position: absolute;
	box-shadow: 0 -1px 3px 0px #434343;
	background: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(24,24,24,1) 100%);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	transition: 300ms all;
}
.inner-wrap input:checked + span {
	background: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(33,33,33,1) 100%);
	box-shadow: 0 1px 3px 0px #434343;
}
.inner-wrap input {
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	height: 100%;
	width: 100%;
	z-index: 1;
	opacity: 0;
	cursor:pointer ;
}
input:not(:checked) + span::before,
input:checked + span::after{
	opacity: 0;
}
input:checked + span::before,
input:not(:checked) + span::after {
	opacity: 1;
}
.inner-wrap .custom-checkbox::before,
.inner-wrap .custom-checkbox::after {
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	border-radius: 50%;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	background: radial-gradient(ellipse at center, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 36%, rgba(255,255,255,1) 100%);
	box-shadow: 0 0 4px 0px #ff0000;
	transition: 300ms all ease-in-out;
}
.inner-wrap .custom-checkbox::after {
	bottom: 20px;
	background: radial-gradient(ellipse at center, rgba(0,128,0,1) 0%, rgba(0,128,0,1) 36%, rgba(255,255,255,1) 100%);
	box-shadow: 0 0 4px 0px rgb(0,128,0);
	top: unset;
}

.screw {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	border-radius: 50%;
	box-shadow: 0 0px 2px 0px #aeafaf;
	background: linear-gradient(0deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 100%);
}
</style>