<template>
    <div>
        <v-overlay
        :z-index="2"
        :absolute="true"
        :value="overlay"
        >
            <v-progress-circular
            v-if="show"
            indeterminate
            color="primary"
            ></v-progress-circular>
            <v-overlay
                :z-index="2"
                :absolute="true"
                v-if="!show"
                :value="overlay">
                <v-btn
                icon>
                <v-icon>mdi-close</v-icon> 
                </v-btn>
            </v-overlay>    
        </v-overlay> 
        <div class="text-center ma-12">
            <v-progress-circular
            :rotate="rotate"
            :size="size"
            :value="status" 
            :width="width"
            color="light-blue"
            >{{ status }} % </v-progress-circular>
        </div>
    </div>    
</template>
<script>
export default {
    name: 'Humidity',

    props:{
        status: {
            type: String,
            default: "0"
        },
        deviceState: {
          type: String,
          default: "0"
        }
    },

    data: function(){
        return { 
            rotate: 270,
            size: 75,
            width: 10,
            overlay : false,
            show : true,
        }
    },
    created() {
        if(this.deviceState == "0"){
          this.overlay = true
          this.show = false
        }else{ 
          this.overlay = false
          this.show = true
        }
    },

    computed: {
        getStatus: function () {
          if (this.status == "0"){
            return true
          }else{
            return false
          }
        },
    },
    watch: {
      status: function(){
        if(this.deviceState != "0"){
          this.overlay = false
        }
      },
      deviceState: function(){
        if(this.deviceState == "0"){
          this.overlay = true
          this.show = false
        }else{
          this.overlay = false
          this.show = true
        }
      }
    },

    methods: {
      changeOverlay: function(){
        this.overlay = true
      }
    }        
}
</script>