<template>
<v-container>
  <v-overlay
    :z-index="2"
    :absolute="true"
    :value="overlay"
  >
    <v-progress-circular
      v-if="show"
      indeterminate
      color="primary"
    ></v-progress-circular>
    <v-overlay
      :z-index="2"
    :absolute="true"
     v-if="!show"
     :value="overlay">
      <v-btn
        icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-overlay>    
  </v-overlay>
<v-row>
  <v-col cols="12">      
    <div class="push-body">
    <div class="push-container" :data="getStatus">
      <div class="push-btn"
      ><span class="mdi mdi-power-standby" v-on:click="changeOverlay(); $emit('sendPush')"></span></div>
    </div>
  </div>
  </v-col>
  <v-col cols="12">
    <v-card flat color="transparent">
      <v-subheader>Intensity (s)</v-subheader>  
      <v-card-text>
        <v-slider
          v-model="intensity"
          v-on:end="changeIntensity"
          :tick-labels="labels"
          :max="3"
          step="1"
          :ticks="true"
          tick-size="4"
        ></v-slider>
      </v-card-text>
    </v-card>     
  </v-col>
</v-row>
</v-container>   
</template>
<script>
export default {
    name:'PushButton',
    
    props: {
        status: {
            type: String,
            default: "0"
        },
        devIntensity:{
            type: String,
            default: "0"          
        },        
        deviceState: {
          type: String,
          default: "0"
        }
    },
    data: function(){
        return{
            overlay : false,
            show : true,
            intensity: 0,
            labels: [
              '0.2',
              '0.5',
              '0.7',
              '1',
            ],                        
        }
    },
    created() {
        this.intensity = this.devIntensity
        if(this.deviceState == "0"){
          this.overlay = true
          this.show = false
        }else{
          this.overlay = false
          this.show = true
        }
    },    
    watch:{
      status: function(){
        if(this.deviceState != "0" && (this.status == "0" || this.status == "3")){
          this.overlay = false
        }
      },
      devIntensity: function(){
        if(this.deviceState != "0"){
          this.overlay = false
          this.intensity = this.devIntensity
        }
      },              
      deviceState: function(){
        if(this.deviceState == "0"){
          this.overlay = true
          this.show = false
        }else{
          this.overlay = false
          this.show = true
        }
      },
      /*intensity: function(){
        //console.log(this.intensity)
        if(this.intensity == 0){
          this.$emit('sendIntensity','250')
        }else if(this.intensity == 1){
          this.$emit('sendIntensity','500')
        }else if(this.intensity == 2){
          this.$emit('sendIntensity','750')
        }else if(this.intensity == 3){
          this.$emit('sendIntensity','1000')
        }
        this.overlay = true
      }*/        
    },
    computed:{
        getStatus: function(){return this.status}
    },
    methods:{
      changeOverlay: function(){
        this.overlay = true
        return true
      },
      changeIntensity: function(e){
        if(this.intensity == 0){
          this.$emit('sendIntensity','250')
        }else if(this.intensity == 1){
          this.$emit('sendIntensity','500')
        }else if(this.intensity == 2){
          this.$emit('sendIntensity','750')
        }else if(this.intensity == 3){
          this.$emit('sendIntensity','1000')
        }
        this.overlay = true
      }         
    }
    
}
</script>
<style>

.push-body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.push-container {
  color: #fff;
  background: #000;
  border: 10px solid #0D47A1;
  border-radius: 100%;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.push-btn {
  color: #1E88E5;
  background: #fff;
  text-decoration: none;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 45px;
  letter-spacing: 1px;
  border: 1px solid #9ec1d2;
  border-radius: 100%;
  width: 115px;
  height: 115px;
  transition-duration: 0.250s;
  perspective: 1000px;
  transform-origin: center bottom 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.push-btn:active {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
  margin-bottom: 5px;
}

</style>