<template>
    <div>
        <v-overlay
        :z-index="2"
        :absolute="true"
        :value="overlay"
        >
            <v-progress-circular
            v-if="show"
            indeterminate
            color="primary"
            ></v-progress-circular>
            <v-overlay
                :z-index="2"
                :absolute="true"
                v-if="!show"
                :value="overlay">
                <v-btn
                icon>
                <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-overlay>    
        </v-overlay> 
        <div class="text-center ma-12">
            <v-progress-circular
            :rotate="0"
            :size="size"
            :value="getValue"
            :width="width"
            :color="getColor"
            >{{ getStatus }}°C</v-progress-circular>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Temperature',

    props:{
        status: {
            type: String,
            default: "0"
        },
        deviceState: {
          type: String,
          default: "0"
        }
    },

    data: function(){
        return {
            rotate: 270,
            size: 100,
            width: 20,
            overlay : false,
            show : true,
        }
    },
    created() {
        if(this.deviceState == "0"){
          this.overlay = true
          this.show = false
        }else{
          this.overlay = false
          this.show = true
        }
    },

    computed: {
        getStatus: function () {return this.status},
        getValue: function(){
                if(parseInt(this.status) > 0 ){
                    return parseInt(this.status) + 50
                }else{
                    return 50 - parseInt(this.status)
                }
        },
        getColor: function(){
            if(parseInt(this.status) < 4 ){
                return "blue"
            }else if(parseInt(this.status) > 4 && parseInt(this.status) < 21){
                return "green"
            }else if(parseInt(this.status) > 20 && parseInt(this.status) < 30){
                return "orange"
            }else if(parseInt(this.status) > 29){
                return "red"
            }
        }
    },
    watch: {
      status: function(){
        if(this.deviceState != "0"){
          this.overlay = false
        }
      },
      deviceState: function(){
        if(this.deviceState == "0"){
          this.overlay = true
          this.show = false
        }else{
          this.overlay = false
          this.show = true
        }
      }
    },

    methods: {
      changeOverlay: function(){
        this.overlay = true
      },
    }        
}
</script>