<template>
    <div id="app">
        <v-app id="inspire">

            <!-- APP BAR -->
            <AppBar v-on:openDrawer="drawerChange" />

            <!-- NAVBAR -->
            <NavBar v-if="isLoggedin" :openDrawer="drawer" />

            <v-content>
                <router-view />
            </v-content>

            <!-- FOOTER -->
            <v-footer
                app
                fixed
                tile
                dark
                padless
                class="grey darken-1 text-right">
                <v-row justify="center">
                    <v-card
                        flat
                        tile
                        class="grey darken-1 white--text text-right">
                    <v-card-text class="font-italic font-weight-light white--text">
                        <span>{{ new Date().getFullYear() }} — Sball0 </span>
                    </v-card-text>
                    
                    </v-card>  
                </v-row>          
            </v-footer>

        </v-app>
    </div>
</template>

<script>
    import { AuthSignOff, UserReq } from '@/store/actions.js'
    import AppBar from '@/components/AppBar.vue'
    import NavBar from '@/components/NavBar.vue'
    import { mapGetters } from 'vuex'
    export default {

        components: {
            AppBar,
            NavBar,
        },
        data: () => ({

            drawer: false,
            search: false
        }),
        created()
        {
            this.getUser()
        },        
        computed:
        {
            ...mapGetters(['isLoggedin']),
        },
        watch:
        {
            errors: function () { this.snackbar = this.errors.length > 0; }
        },

        methods: {
            pollUser: function (){
                this.pollingUser = setInterval(()=> {
                    this.getUser()
                }, 15000)                    
            },
            getUser: function (){
                if(this.isLoggedin){
                    this.$store
                    .dispatch(UserReq)
                    .then( );
                }
            },            
            drawerChange: function () { this.drawer = !this.drawer; },
        }
    }
</script>

