<template>
  <Layout>
    <template v-slot:content>
      <v-layout row>
        <v-flex xs12 sm6 md6 lg4 xl3>
          <BulbCard 
            v-if="device.deviceType.desc == 'LED' "
            :macAddress="device.macAddress"
          />
          <SmartPlugCard 
            v-else-if="device.deviceType.desc == 'SMART PLUG' "
            :macAddress="device.macAddress"
          />
          <HumidityTempCard 
            v-else-if="device.deviceType.desc == 'TH' "
            :macAddress="device.macAddress"
          />
          <PushButtonCard 
            v-else-if="device.deviceType.desc == 'PUSH BUTTON' "
            :macAddress="device.macAddress"
          />                                  
          <DataTable 
              v-else
              :items="getCommands"
              :headers="header"
          />
        </v-flex>
        <v-flex xs12 sm6 md6 lg4 xl3 v-if="device != undefined"><CommandCard :macAddress="device.macAddress" /></v-flex>
        <v-flex xs12 sm6 md6 lg4 xl3 v-if="device != undefined"><EventCard :macAddress="device.macAddress" /></v-flex>
        <v-flex xs12 sm6 md6 lg4 xl3 v-if="device != undefined"><JoinCard :macAddress="device.macAddress" /></v-flex>
        <v-flex xs12 sm12 md12 lg8 xl8 v-if="device != undefined"><HistoryCard :macAddress="device.macAddress" /></v-flex>
      </v-layout>
    </template>
  </Layout>    
</template>

<script>
import DataTable from '@/components/DataTable.vue'
import BulbCard from '@/components/Cards/BulbCard.vue'
import SmartPlugCard from '@/components/Cards/SmartPlugCard.vue'
import HumidityTempCard from '@/components/Cards/HumidityTempCard.vue'
import PushButtonCard from '@/components/Cards/PushButtonCard.vue'
import Layout from '@/components/Layout.vue'
import CommandCard from '@/components/Cards/CommandCard.vue'
import EventCard from '@/components/Cards/EventCard.vue'
import JoinCard from '@/components/Cards/JoinCard.vue'
import HistoryCard from '@/components/Cards/HistoryCard.vue'

import { CmdsReq, DevReq } from '@/store/actions.js'
import { EventsReq } from '@/store/actions.js'
import { JoinReq } from '@/store/actions.js'

import { mapGetters, mapState } from 'vuex'

export default {
  name: 'deviceDetail',
  components: {
    DataTable,
    BulbCard,
    CommandCard,
    EventCard,
    SmartPlugCard,
    HumidityTempCard,
    PushButtonCard,
    JoinCard,
    HistoryCard,
    Layout
  },

    props: {
        macAddress: String

    },

  data : function(){
    return {
      actions: [{
              title: "Go to",
              event: "goTo"
      }],
      dialog: false,
      header:  [
          {
            text: 'Cmd',
            align: 'start',
            sortable: false,
            value: 'cmdType.desc',
          },
          { text: 'UpdatedAt', value: 'updatedAt' },
          { text: 'Result', value: 'result' },
          { text: '-', value: 'actions', sortable: false },
        ]
    }
  },

  created() {
      this.readDevice()
      this.pollDevice()
      this.updateCommand()
      this.updateEvent()
      this.updateJoin()      
  },

  mounted() {},

  beforeDestroy () {
      clearInterval(this.pollingDevice)
  },        

  destroyed() {},

  computed: { 
      ...mapGetters({
        devices: 'devices',
        getDevice: 'getDeviceByMacAddress'
      }),
      ...mapState({
          getCommands: state => state.command.commands,
      }),
      device: function () {
        return this.getDevice(this.macAddress)
      },
  },

  watch: {
    goTo: function ()
        {
            this.dialog = !this.dialog;
        },
  },

  methods: {
      updateCommand: function (){
        if(this.device != undefined){
          this.$store
          .dispatch(CmdsReq, this.device.macAddress)
          .then();
        }
      },
      updateEvent: function (){
          this.$store
          .dispatch(EventsReq, this.macAddress )
          .then(
          );
      },
      updateJoin: function (){
          this.$store
          .dispatch(JoinReq, this.macAddress )
          .then(
          );
      },      
      pollDevice() {
          this.pollingDevice = setInterval(()=> {
              this.updateCommand()
              this.updateEvent()
              this.updateCommand()
              this.updateJoin()              
          }, 3000)
      },
      readDevice: function (){
        this.$store
        .dispatch(DevReq)
        .then( );
      },           
  }  
}
</script>
