<template>
  <Layout>
    <template v-slot:content>
      <v-row justify="center" align="start">
          <DataTable 
              :items="getDevices"
              :headers="header"
              :editable="true"
              :selectField="selectField"
              :tableHeader="tableHeader"
              :loading="loading"
              v-on:save="save"
          /> 
      </v-row>
      <NotificationModal :content="notification.content" :level="notification.level" />
    </template>
  </Layout>    
</template>

<script>
import DataTable from '@/components/DataTable.vue'
import NotificationModal from '@/components/NotificationModal.vue'
import Layout from '@/components/Layout.vue'

import { DevReq, EditDevReq, GroupsReq } from '@/store/actions.js'

import { mapGetters, mapState } from 'vuex'

export default {
  name: 'devices',
  components: {
    DataTable,
    NotificationModal,
    Layout
  },

  data : function(){
    return {
      dialog: false,
      notContent: null,
      notLevel: null,
      header:  [
          /*{
            text: 'Id',
            align: 'start',
            sortable: false,
            value: 'id', 
            edited:false
          },*/
          { text: 'MAC Address', value: 'macAddress', edited:false },
          { text: 'Description', value: 'desc', edited:true },
          { text: 'Type', value: 'deviceType.desc', edited:false },
          //{ text: 'Group', value: 'group.desc', select: true, selectField:'group', selectText:'desc', selectValue: 'id' },
          { text: 'Actions', value: 'actions', sortable: false },
        ],
      selectField: {
        group: []
      },
      tableHeader:{
        title: 'Devices'
      }      
    }
  },

  created() {
        this.pollDevice()
        this.readDevice()
        this.readGroup()
  },

  mounted() {},

  beforeDestroy () {
      clearInterval(this.pollingDevice)
  },        

  destroyed() {},

  computed: { 
      ...mapGetters({
        devices: 'devices',
        groups: 'groups',
        loading: 'isDeviceLoading'
      }),
      getDevices: function(){
        if(this.devices != null)
          return this.devices
        return [] 
      },
      notification:function(){
        return {content: this.notContent, level: this.notLevel}
      }
  },

  watch: {
    goTo: function ()
        {
            this.dialog = !this.dialog;
        },
  },

  methods: {
      readDevice: function (){
        this.$store
        .dispatch(DevReq)
        .then();
      },
      pollDevice() {
          this.pollingDevice = setInterval(()=> {
              this.readDevice()
              this.readGroup()
          }, 15000)
      },
      readGroup: function (){
        this.$store
        .dispatch(GroupsReq)
        .then(val =>{
          this.selectField.group = []
          this.selectField.group = this.groups
        });
      },
      save(editedItem) {
        let self = this
          this.$store
          .dispatch(EditDevReq, editedItem)
          .then(val =>{
            //this.selectField = []
            //this.selectField.push(this.groups)
          }).catch((err) => {
            console.log(err)
            self.notContent = err
            self.notLevel = 'error'
          });        
      },                        
  }  
}
</script>
