<template>
<Layout>
        <template v-slot:content>
                <DataTable
                    :type="type" 
                    :items="getGroups"
                    :loading="loading"
                    :headers="header"
                    :editable="true"
                    :creation="true"
                    :tableHeader="tableHeader"
                    v-on:save="save"
                    v-on:add="add"
                /> 
        </template>
    </Layout>  
</template>
<script>
import DataTable from '@/components/DataTable.vue'
import Layout from '@/components/Layout.vue'

import { GroupsReq, EditGroupReq, AddGroupReq } from '@/store/actions.js'

import { mapGetters, mapState } from 'vuex'

export default {
    name: 'group',
    components: {
        DataTable,
        Layout
    },

  data : function(){
    return {
      type: 'GROUP_DETAIL',
      dialog: false,
      header:  [
          {
            text: 'Id',
            align: 'start',
            sortable: true,
            value: 'id',
            edited: false
          },
          { text: 'Description', sortable: true, value: 'desc', edited: true },
          { text: 'Actions', value: 'actions', sortable: false, edited: false },
        ],
      tableHeader:{
        title: 'Group'
      }
    }
  },

  created() {
        //this.pollDevice()
        this.readGroup()
  },

  mounted() {},

  beforeDestroy () {
      clearInterval(this.pollingGroup)
  },        

  destroyed() {},

  computed: { 
      ...mapGetters({
        groups: 'groups',
        loading: 'isGroupLoading'
      }),
      getGroups: function(){
        if(this.groups != null)
          return this.groups
        return [] 
      }
  },
 
  watch: {
    goTo: function ()
        {
            this.dialog = !this.dialog;
        },
  },

  methods: {
      readGroup: function (){
        this.$store
        .dispatch(GroupsReq)
        .then(val =>{
          //this.selectField = []
          //this.selectField.push(this.groups)
        });
      },
      pollDevice() {
          this.pollingGroup = setInterval(()=> {
              this.readGroup()
          }, 15000)
      },
      save(editedItem) {
          this.$store
          .dispatch(EditGroupReq, editedItem)
          .then(val =>{
            //this.selectField = []
            //this.selectField.push(this.groups)
          });          
      },
      add(newItem) {
          this.$store
          .dispatch(AddGroupReq, newItem)
          .then(val =>{
            //this.selectField = []
            //this.selectField.push(this.groups)
          });            
      },                        
  }      
    
}
</script>