<template>
  <Layout>
    <template v-slot:content>
      <v-row class="overflow-y-auto mx-0 px-0 no-gutters" align="start">
          <v-col 
            cols="12"
            xs="12"
            sm="6"
            md="6"
            lg="4"
            xl="4"          
            v-for="(device, index) in getDevice" :key="index">
            <DeviceCard                
                :macAddress="device.macAddress">
            </DeviceCard> 
          </v-col>     
      </v-row>
    </template>
  </Layout>
</template>

<script>
import DeviceCard from '@/components/Cards/DeviceCard.vue'
import Layout from '@/components/Layout.vue'

import { DevReq } from '@/store/actions.js'

import { mapGetters, mapState } from 'vuex'

export default {
  name: 'home',
  components: {
    DeviceCard,
    Layout
  },

  data : function(){
    return {
      dialog: false,
      header: {
        icon: "mdi-lan-connect" ,                    
        title: "",
        overline: 'dashboard.deviceState',
        localized: true
      }
    }
  },

  created() {
        this.pollDevice()
        this.readDevice()
  },

  mounted() {},

  beforeDestroy () {
      clearInterval(this.pollingDevice)
  },        

  destroyed() {},

  computed: { 
      ...mapState({
          getDevice: state => state.device.devices
      }),
      getDeviceInfo: function () {return this.deviceInfo},
  },

  watch: {
    goTo: function (device)
        {
            this.$router.push({ name: 'deviceDetail', params: { device: device } });
        },
  },

  methods: {
      readDevice: function (){
        this.$store
        .dispatch(DevReq)
        .then( );
      },
      pollDevice() {
          this.pollingDevice = setInterval(()=> {
              this.readDevice()
          }, 15000)
      },            
  }  
}
</script>
