<template>
<v-card v-bind:max-width="width" class="mx-auto">
  <v-layout v-if="item.icon != null" align-center justify-center>
	<v-flex xs6>
		<div class="text-center py-2">
			<v-icon @click="$emit('goToDevice')" color="primary" size="150" dark >{{ item.icon }}</v-icon>
		</div>
	</v-flex>
</v-layout>
  <v-divider />
  <v-card-title v-if="item.title != null || item.overline != null">
	<div class="mx-5">
	  <span v-if="item.title != null" class="title text-uppercase font-weight-light grey--text">
		{{ item.title }}
	  </span>
	  <p v-if="item.overline != null" v-bind:class="getClass()">
		{{ $t(`$app.${item.overline}`) }}
	  </p>
    <template v-for="(sub, index) in item.subtitle">
      <p :key="index" v-if="true" class="caption font-weight-light text-uppercase grey--text my-0">
      {{$t(`$app.${sub.desc}`)}}: {{sub.text}}
      </p>
    </template>              
	</div>
  </v-card-title>
  <slot name="content"></slot>
    <v-card-actions>
      <slot name="action"></slot>
    </v-card-actions>
</v-card>
</template>

<script>
export default {
  name: "Card",

  props: {
    item: {
      icon: String,
      title: String,
      overline: String,
      subtitle: Array,
    },
    width :{
      type: String,
      default: "100%"
    }
  },

  data: () => ({}),

  created() {},

  mounted() {},

  destroyed() {},

  computed: {},

  watch: {},

  methods: {
    getClass(){
        return {
            'overline green--text my-0': this.item.type == "1",  
            'overline red--text my-0': this.item.type != "1"}
    }    
  }
};
</script>
