<template>
    <v-container>
        <v-row>
            <v-col
            cols="12"
            sm="12"
            md="12"
            >
                <v-card class="page-body" elevation="0">
                    <v-card-title>
                    {{ tableHeader.title }}
                    <v-spacer></v-spacer>
                    <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Search"
                        single-line
                        hide-details
                    ></v-text-field>
                    <v-spacer></v-spacer>
                    <v-btn v-if="creation" color="primary" small dark fab bottom absolute right class="mb-2" @click="dialog = true"><v-icon>mdi-plus</v-icon></v-btn>
                    </v-card-title>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col
            cols="12"
            sm="12"
            md="12"
            >
                <v-data-table :headers="headers"
                            :items="items"
                            :items-per-page="items_per_page"
                            :loading="loading"
                            :search="search"
                            fixed-header
                            hide-default-footer
                            >
                    <template v-slot:item.actions="{ item }">
                        <v-icon
                            
                            class="mr-2"
                            @click="actionbutton(item)"
                        >
                            mdi-launch</v-icon>
                        <v-icon
                            v-if="editable"
                            class="mr-2"
                            @click="editItem(item)"
                        >
                            mdi-pencil</v-icon>                
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
        <!-- DIALOG EDIT -->
        <v-dialog v-model="dialog" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="headline">Edit</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                <template v-for="(labelField, index) in headers">
                  <v-col v-if="labelField.edited == true && labelField.value !== 'actions'" cols="12" sm="6" md="4"  :key="index">
                    <v-text-field v-model="editedItem[labelField.value]" :label="labelField.text"></v-text-field>
                  </v-col>
                  <v-col v-else-if="labelField.edited == false 
                    && labelField.value !== 'actions'" 
                    cols="12" sm="6" md="4"  :key="index">
                    <v-text-field v-model="editedItem[labelField.value]" :label="labelField.text" disabled=""></v-text-field>
                  </v-col>
                  <v-col v-else-if="labelField.select == true
                    && labelField.value !== 'actions'"  
                    cols="12" sm="6" md="4"  :key="index">
                    <v-select
                        v-model="editedItem[labelField.selectField]"
                        :items="selectField[labelField.selectField]"
                        :item-text="labelField.selectText"
                        :item-value="labelField.selectValue"
                        menu-props="auto"
                        hide-details
                        :label="labelField.text"
                        single-line
                    ></v-select>
                  </v-col>                                    
                </template>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

    </v-container>
</template>

<script>

    export default {

        // camelCase in JavaScript
        props: {
            items_per_page: {
                type: Number,
                default: 10
            },

            loading: {
                type: Boolean,
                default: false
            },

            searchOn: {
                type: Boolean,
                default: false
            },

            type:{
                type: String,
                default: 'DEVICE_DETAIL'
            },

            editable:{
                type: Boolean,
                default: false
            },

            deletable:{
                type: Boolean,
                default: false
            },

            creation:{
                type: Boolean,
                default: false
            },            

            headers: Array,
            selectField: Object,
            items: Array,
            tableHeader: Object

        },

        data: function ()
        {
            return {
                editedItem: {},
                editedIndex: -1,
                dialog: false,
                search: '',
            }
        },

        created()
        {
            window.addEventListener("resize", this.wResizeEventHandler);
        },

        destroyed()
        {
            window.removeEventListener("resize", this.wResizeEventHandler);
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        methods: {

            actionbutton (item) {
                if(this.type == 'DEVICE_DETAIL'){
                    this.$router.push({ name: 'deviceDetail', params: { macAddress: item.macAddress } });
                }else if(this.type == 'GROUP_DETAIL'){
                    this.$router.push({ name: 'groupDetail', params: { group: item.id } });
                }
            },
            editItem (item) {
                this.editedIndex = this.items.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },
            close () {
                this.dialog = false
                setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                }, 300)
            },

            save () {
                if(this.editedIndex > -1){
                    this.$emit('save', this.editedItem)
                    this.dialog = false
                }else{
                    this.$emit('add', this.editedItem)
                    this.dialog = false
                }

            }            
        }

    }
</script>
