<template>     
    <v-container class="scroll-y" fluid>
        <slot name="content"></slot> 
    </v-container>
</template>
<script>
export default {
    name: "Layout",

    props: {
        back: { name: String },
    },

    data()
    {
        return {
            height: 500
        }
    },    
    
}
</script>