<template>
<v-navigation-drawer
    v-model="drawer"
    fixed
    app
    :clipped="$vuetify.breakpoint.lgAndUp"
    >
    <v-list
        dense
        nav
    >
        <v-list-item two-line class="px-0">
        <v-list-item-avatar size="62">
            <img v-if="profile.last_name != 'Doe'" src="https://randomuser.me/api/portraits/men/81.jpg">
            <img v-else src="https://randomuser.me/api/portraits/lego/5.jpg">
        </v-list-item-avatar> 

        <v-list-item-content>
            <v-list-item-title>{{ profile.first_name + ' ' + profile.last_name }}</v-list-item-title>
            <v-list-item-subtitle>{{ profile.username }}</v-list-item-subtitle>
            <v-list-item-subtitle>{{ profile.email }}</v-list-item-subtitle>
        </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider> 

        <template v-for="(item, i) in menu">

            <v-layout v-if="item.heading" :key="i"> 

                <v-subheader class="mt-5 grey--text text--darken-1 text-uppercase letter-spacing-3">
                    {{ $t(`$app.menu.${item.heading}`) }}
                </v-subheader>

            </v-layout>

            <v-divider v-else-if="item.divider" :key="i" class="my-1"></v-divider>

            <v-list-item v-else-if="item.logout" :key="i" @click="logout()">

            <v-list-item-action>
                <v-icon color="tertiary">{{ item.icon }}</v-icon> 
            </v-list-item-action>

            <v-list-item-content>
                <v-list-item-title class="text-uppercase">
                    {{ $t(`$app.menu.${item.title}`) }}
                    </v-list-item-title>
            </v-list-item-content>

            </v-list-item>

            <v-list-item v-else :key="i" :to="item.to">

                <v-list-item-action>
                    <v-icon color="tertiary">{{ item.icon }}</v-icon>
                </v-list-item-action> 

                <v-list-item-content>
                    <v-list-item-title class="text-uppercase">
                        {{ $t(`$app.menu.${item.title}`) }}
                    </v-list-item-title>
                </v-list-item-content>

            </v-list-item>
        </template>
    </v-list>
</v-navigation-drawer>
</template>
<script>
import { AuthSignOff } from '@/store/actions.js';
import { mapState, mapGetters } from 'vuex'

  export default {
    props:
        {
            openDrawer: Boolean,
        },
    data () 
    {
      return {
        drawer: null,
        background: false,
      }
    },
    methods: 
    {

        logout: function ()
        {
            this.$store
                .dispatch(AuthSignOff)
                .then(() => this.$router.push('/login', () => { }));
        },
    },    
    watch:
    {
        openDrawer: function ()
        {
            this.drawer = !this.drawer;
        },
    },    
    computed: {
        menu: function ()
            {
                return [
                    {
                        icon: '$dashboard',
                        title: 'home',
                        to: { name: 'home' }
                    },
                    {
                        icon: '$device',
                        title: 'devices',
                        to: { name: 'devices' }
                    },
                    {
                        icon: '$group',
                        title: 'Groups',
                        to: { name: 'group' }
                    },                    
                    { 
                        divider: true 
                    },
                    {
                        logout: true,
                        icon: '$logout',
                        title: 'logout',
                        to: { name: 'Home' }
                    }                    
                ];
            },
        ...mapGetters({
            profile: 'profile'
        }),        
    },
  }
</script>