<template>
    <v-dialog
    v-model="dialog"
    persistent
    >
    <v-alert
      prominent
      :type="level"
      class="ma-0"
    >
      <v-row align="center">
        <v-col class="grow">{{ content }}</v-col>
        <v-col class="shrink">
          <v-btn icon @click="$emit('notificationClosed');dialog=false"><v-icon>mdi-close</v-icon></v-btn>
        </v-col>
      </v-row>
    </v-alert>
    </v-dialog>
</template>
<script>
export default {
    name:'NotificationModal',

    props:{
        level:String,
        content:String
    },
    data: function(){
        return {
            dialog:false
        }
    },
    watch:{
        content:function(){
            this.dialog = true
        }
    }
}
</script>