<template>
    <v-container>
        <CardDetail
            :type="device.deviceType.desc"             
            :item="item"
            :actions="[]"
            :width="'350'">
            <template v-slot:card-device>
                <Bulb v-on:changeStatus="changeStatus()" :status="getStatus" :deviceState="getDeviceState" />
            </template>
        </CardDetail>   
    </v-container>
</template>

<script>
    

    import CardDetail from '@/components/CardDetail.vue'
    import Bulb from '@/components/Device/Bulb.vue'
    import { CmdsReq, CmdReq } from '@/store/actions.js'
    import moment from 'moment'
    import { mapGetters, mapState } from 'vuex'

    export default {
        name: "BulbCard",

        components: { 
            CardDetail,
            Bulb
        },

        props: {
            macAddress: String
        },

        data : function(){
            return {
                isPoolCommand: true,
                pollingDevice: null,
            }
        },

        created() {
            /*this.updateEvent()
            this.updateCommand()
            this.pollDevice()*/
        },

        mounted() {
        
        },

        beforeDestroy () {
            clearInterval(this.pollingDevice)
        },  
        
        destroyed() {},

        computed: {
            ...mapState({
                getDevices: state => state.device.devices,
                getCommands: state => state.command.commands,
                getEvents: state => state.event.events
            }),
            getStatus: function () {
                var self = this
                let event =  self.getEvents.filter(function (event) {
                if(event.eventType.desc === "DEV_VALUE")
                    return event
                })
                let status = "1"
                if(event[0]!= null){
                    if(event[0].result == "0"){
                        status = "0"
                    }
                return status                      
                } 
            },
            state : function (){
                var self = this
                let event =  self.getEvents.filter(function (event) {
                if(event.eventType.desc === "DEV_STATE")
                    return event
                })
                return event[0]                
            },
            value : function (){
                var self = this
                let event =  self.getEvents.filter(function (event) {
                if(event.eventType.desc === "DEV_VALUE")
                    return event
                })
                if(event[0].result == "1"){
                    this.status = true
                }else{
                    this.status = false
                }                
                return event[0]                
            },
            manualTrigger : function (){
                var self = this
                let event =  self.getEvents.filter(function (event) {
                if(event.eventType.desc === "MANUAL_TRIGGER")
                    return event
                })
                return event[0]                
            },                         
            device: function () {
                var self = this
                let dev =  self.getDevices.filter(function (device) {
                if(device.macAddress.indexOf(self.macAddress) !== -1)
                    return device
                })
                return dev[0]
            },
            item : function () {
                return {
                    icon: this.device.state.id == "1" ? "mdi-lan-connect" : 'mdi-lan-disconnect',                    
                    title: this.device.desc,
                    overline: 'dashboard.deviceState'+this.device.state.id,
                    //subtitle: this.$app.lang.t(`$app.dashboard.device.subtitle`, {0: ''}),
                    localized: true,
                    type: this.device.state.id,
                    subtitle:[
                    {
                        desc: 'dashboard.mac',
                        text: this.device.macAddress
                    },
                    {
                        desc: 'dashboard.lastUpdate',
                        text: this.updatedAt
                    }]
                }
            },                     
            updatedAt : function() {return moment(this.device.updatedAt).format('DD-MM-YYYY HH:mm:ss')},
            getDeviceState : function(){
                if(this.state != undefined){
                    return this.state.result
                }else{
                    "0"
                }
            },                                 
        },

        watch: {},

        methods: {
            changeStatus(e) {
                if(this.device.state.id != '0'){
                    let val = this.getStatus == '1' ? '0' : '1'
                    this.sendCommand({cmd : 'SET_VALUE', value : val})        
                }else{
                    alert("device not connected")
                }
            },
            sendCommand: function (data){
                let self = this
                this.$store
                .dispatch(CmdReq, { macAddress: self.device.macAddress, cmd : data.cmd, value: data.value})
                .then(
                    this.isPoolCommand = true
                );
            },              
            //get value and state for this device
            /*
            updateCommand: function (callback, cmd){
                let data = this.macAddress
                this.$store
                .dispatch(CmdsReq, this.macAddress )
                .then();
            },
            updateEvent: function (){
                this.$store
                .dispatch(EventsReq, this.macAddress )
                .then(
                );
            },            
            pollDevice() {
                this.pollingDevice = setInterval(()=> {
                    this.updateEvent()
                    if(this.isPoolCommand){
                        this.updateCommand()
                    }
                }, 3000)
            }             */
        }
    };
</script>
