<template>
    <v-container>
        <Card                 
            :item="item"
            :actions="[]">
            <template v-slot:content>
                    <v-list disabled>
                        <v-subheader>COMANDI</v-subheader>
                        <v-list-item-group color="primary">
                            <v-list-item
                            v-for="(cmd, i) in getCommands"
                            :key="i"
                            >
                            <v-list-item-icon>
                                <v-icon  color="primary" v-text="getText(cmd.status.desc)" size="35"></v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>{{ $t(`$app.devices.${cmd.cmdType.desc}`) }}</v-list-item-title>
                                <v-list-item-subtitle v-bind:class="getClass(cmd.status.desc)" >{{ $t(`$app.command.${cmd.status.desc}`) }}</v-list-item-subtitle>
                                <v-list-item-subtitle class="caption">{{ getDateTime(cmd.updatedAt) }}</v-list-item-subtitle>
                            </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
            </template>
        </Card>   
    </v-container>
</template>

<script>
    

import Card from '@/components/Card.vue'
import moment from 'moment'
import { mapGetters, mapState } from 'vuex'

export default {
    name: "CommandCard",

    components: { 
        Card,
    },

    props: {
        macAddress: String
    },

    data : function(){
        return {}
    },

    created() {},

    mounted() {},

    destroyed() {},

    computed: {
        ...mapState({
            getDevices: state => state.device.devices,
            getCommands: state => state.command.commands
        }),
        item : function () {
            return {
                icon: 'mdi-code-greater-than',                    
                title: null,
                overline: null,
                localized: true,
                type: this.device.state.id,
                subtitle:[]
            }
        },
        device: function () {
            var self = this
            let dev =  self.getDevices.filter(function (device) {
            if(device.macAddress.indexOf(self.macAddress) !== -1)
                return device
            })
            return dev[0]
        },                      
        updatedAt : function() {return moment(this.device.updatedAt).format('DD-MM-YYYY HH:mm:ss')}
    },

    watch: {},

    methods: {
        action : function(){},
        getDateTime : function(date) {return moment(date).format('DD-MM-YYYY HH:mm:ss')},
        getClass(value){
            return {
                'overline green--text my-0 letter-spacing-3': value == "completed",  
                'overline orange--text my-0 letter-spacing-3': value == "queue" || value == "processing",
                'overline red--text my-0 letter-spacing-3': value == "error",
                'overline red--text my-0 letter-spacing-3': value == "unavailable"}
        },
        getText(value){
            if(value != "progress" && value != "queue"){
                return '$sendCommand'
            }else{
                return '$waitCommand'
            }

        }             
    }
};
</script>
