<template>
    <v-container>
        <Card
            v-on:goToDevice="action()"                 
            :item="item"
            :actions="[]">
            <template v-slot:content></template>
        </Card>   
    </v-container>
</template>

<script>
    

import Card from '@/components/Card.vue'
import moment from 'moment'
import { mapGetters, mapState } from 'vuex'

export default {
    name: "DeviceCard",

    components: { 
        Card,
    },

    props: {
        macAddress: String
    },

    data : function(){
        return {}
    },

    created() {},

    mounted() {},

    destroyed() {},

    computed: {
        ...mapGetters({
            devices: 'devices',
            getDevice: 'getDeviceByMacAddress',
            groups: 'groups'
        }),
        item : function () {
            return {
                icon: '$deviceType'+this.device.deviceType.id,                    
                title: this.device.desc,
                overline: 'dashboard.deviceState'+this.device.state.id,
                type: this.device.state.id,
                subtitle:[
                {
                    desc: 'dashboard.mac',
                    text: this.device.macAddress
                },
                {
                    desc: 'dashboard.lastUpdate',
                    text: this.updatedAt
                }]
            }
        },
        device: function () {
            return this.getDevice(this.macAddress)
        },
        updatedAt : function() {return moment(this.device.updatedAt).format('DD-MM-YY HH:mm:ss')}
    },

    watch: {},

    methods: {
        action : function(){
            this.$router.push({ name: 'deviceDetail', params: { macAddress: this.device.macAddress } });
        }
    }
};
</script>
