<template>
    <v-container>
        <Card                 
            :item="item"
            :actions="[]">
            <template v-slot:content>
                <v-list disabled>
                    <v-subheader>EVENTI</v-subheader>
                    <v-list-item-group color="primary">
                        <v-list-item
                        v-for="(evt, i) in getEvents"
                        :key="i"
                        >
                        <v-list-item-icon>
                            <v-icon color="primary" v-text="getText(evt)" size="35"></v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>{{ $t(`$app.devices.${evt.eventType.desc}`) }}</v-list-item-title>
                            <v-list-item-subtitle v-bind:class="getClass(evt.status.desc)" >{{ $t(`$app.event.${evt.status.desc}`) }}</v-list-item-subtitle>
                            <v-list-item-subtitle class="caption">{{ getDateTime(evt.updatedAt) }}</v-list-item-subtitle>
                        </v-list-item-content>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </template>
        </Card>   
    </v-container>
</template>

<script>
    

    import Card from '@/components/Card.vue'
    import moment from 'moment'
    import { mapGetters, mapState } from 'vuex'

    export default {
        name: "EventCard",

        components: { 
            Card,
        },

        props: {
            macAddress: String
        },

        data : function(){
            return {}
        },

        created() {},

        mounted() {},

        destroyed() {},

        computed: {
            ...mapState({
                getDevices: state => state.device.devices,
                getEvents: state => state.event.events
            }),
            item : function () {
                return {
                    icon: "mdi-history",                    
                    title: null,
                    overline: null,
                    //subtitle: this.$app.lang.t(`$app.dashboard.device.subtitle`, {0: ''}),
                    localized: true,
                    type: this.device.state.id
                }
            },
            device: function () {
                var self = this
                let dev =  self.getDevices.filter(function (device) {
                if(device.macAddress.indexOf(self.macAddress) !== -1)
                    return device
                })
                return dev[0]
            },                      
            updatedAt : function() {return moment(this.device.updatedAt).format('DD-MM-YYYY HH:mm:ss')}
        },

        watch: {},

        methods: {
            action : function(){
                //this.$router.push({ name: 'deviceDetail', params: { macAddress: this.getDevice[this.id].macAddress } });
            },
            getDateTime : function(date) {return moment(date).format('DD-MM-YYYY HH:mm:ss')},
            getClass(value){
                return {
                    'overline green--text my-0 letter-spacing-3': value == "completed",  
                    'overline orange--text my-0 letter-spacing-3': value == "queue",
                    'overline red--text my-0 letter-spacing-3': value == "error",
                    'overline red--text my-0 letter-spacing-3': value == "unavailable"}
            },
            getText(evt){
                if(evt.eventType.desc == 'MANUAL_TRIGGER'){
                    if(evt.result != "1"){
                        return '$no'
                    }
                }
                return '$yes'

            }            
        }
    };
</script>
