<template>
    <v-container>
        <Card                 
            :item="item"
            :actions="[]">
            <v-overlay
                :z-index="2"
                :absolute="true"
                :value="overlay"
            >
                <v-progress-circular
                indeterminate
                color="primary"
                ></v-progress-circular>
            </v-overlay>
            <template v-slot:content>
                    <v-row class="px-2">
                        <v-col cols="12" xs="12" sm="12" md="3" lg="3" xl="3">
                            <v-menu
                            ref="menu1"
                            v-model="menu1"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            max-width="290px"
                            min-width="290px"
                            >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                v-model="startDateFormatted"
                                :label="$t(`$app.history.date`)"
                                prepend-icon="mdi-event"
                                v-on="on"
                                ></v-text-field>
                            </template>
                            <v-date-picker v-model="startDate" no-title @input="menu1 = false"></v-date-picker>
                            </v-menu>
                        </v-col>
                        <!--<v-col cols="12" xs="12" sm="12" md="3" lg="3" xl="3">
                            <v-menu
                            v-model="menu2"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            max-width="290px"
                            min-width="290px"
                            >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                v-model="endDateFormatted"
                                label="End Date"
                                hint="Insert min 'Start Date + 1'"
                                persistent-hint
                                v-on="on"
                                ></v-text-field>
                            </template>
                            <v-date-picker v-model="endDate" no-title @input="menu2 = false"></v-date-picker>
                            </v-menu>
                        </v-col>-->
                        </v-row>
                <v-timeline
                        align-top
                        dense
                    >
                        <v-timeline-item
                        v-for="(h, index) in getHistory"
                        :color="getColorByType(h.detail.type)"
                        :icon="getIconByUser(h.username)"
                        :key="index"
                        >
                        <v-row class="pt-1">
                            <v-col cols="4">
                            <div class="caption">{{ $t(`$app.devices.time`) }}</div>
                            <strong>{{getTime(h.date)}}</strong>
                            </v-col>
                            <v-col v-if="h.detail.type == 'CmdRequest'">
                                <strong>{{ $t(`$app.devices.${h.detail.desc}`) }}</strong>
                                <div :class="getClass(h.detail.status)">{{ $t(`$app.command.${h.detail.status}`) }}</div>
                                <div class="caption text-uppercase font-weight-light">{{ h.username }}</div>
                                <div class="caption">{{ h.remoteAddress }}</div>
                            </v-col>
                            <v-col v-if="h.detail.type == 'Event'">
                                <strong>{{ $t(`$app.devices.${h.detail.desc}`) }}</strong>
                                <div :class="getClass(h.detail.status)">{{ $t(`$app.event.${h.detail.status}`) }}</div>
                                <div class="caption text-uppercase font-weight-light">{{ h.username }}</div>
                                <div class="caption">{{ h.remoteAddress }}</div>
                            </v-col>                            
                        </v-row>
                        </v-timeline-item>
                </v-timeline>
            </template>
        </Card>                 
    </v-container>
</template>

<script>
    

import Card from '@/components/Card.vue'
import moment from 'moment'
import { mapGetters, mapState } from 'vuex'
import { HistoryReq } from '@/store/actions.js'

export default {
    name: "HistoryCard",

    components: { 
        Card,
    },

    props: {
        macAddress: String
    },

    data : function(){
        return {
            dialog: false,
            overlay: false,
            selection:null,
            dialog2: false,
            pollingDevice: null,            
            id:-1,
            username:'',
            role: null,
            joinRole:[
                {
                    desc:'User',
                    id:1
                }
            ],
            endDate: new Date().toISOString().substr(0, 10),
            startDate: new Date().toISOString().substr(0, 10),
            startDateFormatted: moment(new Date().toISOString()).format('DD-MM-YYYY'),
            endDateFormatted: moment(new Date().toISOString()).format('DD-MM-YYYY'),
            menu1: false,
            menu2: false,            
        }
    },

    created() {
        this.updateHistory()
        this.pollDevice()        
    },

    mounted() {},

    destroyed() {},

    beforeDestroy () {
        clearInterval(this.pollingDevice)
    },     

    computed: {
        ...mapState({
            getDevices: state => state.device.devices,
            getHistory: state => state.history.history
        }),
        computedStartDateFormatted () {
            return this.parseDate(this.startDate)
        },
        computedEndDateFormatted () {
            return this.parseDate(this.endDate)
        },          
        item : function () {
            return {
                icon: null,                    
                title: this.$t(`$app.history.title`),
                overline: null,
                localized: true,
                type: this.device.state.id,
                subtitle:[]
            }
        },
        device: function () {
            var self = this
            let dev =  self.getDevices.filter(function (device) {
            if(device.macAddress.indexOf(self.macAddress) !== -1)
                return device
            })
            return dev[0]
        },                      
        updatedAt : function() {return moment(this.device.updatedAt).format('DD-MM-YYYY HH:mm:ss')}
    },

    watch: {
        startDate (val) {
            this.startDateFormatted = this.formatDate(this.startDate)
            this.updateHistory()
        },
        endDate (val) {
            this.endDateFormatted = this.formatDate(this.endDate)
            this.updateHistory()
        },
        getHistory: function(){
            this.overlay = false
        }        
    },

    methods: {
        action : function(){
            //this.$router.push({ name: 'deviceDetail', params: { macAddress: this.getDevice[this.id].macAddress } });
        },
        getDateTime : function(date) {return moment(date).format('DD-MM-YYYY HH:mm:ss')},
        getDate : function(date) {return moment(date).format('DD-MM-YYYY')},
        getTime : function(date) {return moment(date).format('HH:mm:ss')},
        getColorByType: function(value){
            if(value == "Event"){
                return "blue lighten-2"
            }else{
                return "red lighten-2"
            }            
        },
        getIconByUser: function(value){
            if(value == "agent"){
                return "fa-robot"
            }else{
                return "fa-user"
            }
        },
        getClass(value){
            return {
                'overline green--text my-0 letter-spacing-3': value == "completed",  
                'overline orange--text my-0 letter-spacing-3': value == "queue" || value == "processing",
                'overline red--text my-0 letter-spacing-3': value == "error",
                'overline red--text my-0 letter-spacing-3': value == "unavailable"}
        },        
        formatDate (date) {
            if (!date) return null

            const [year, month, day] = date.split('-')
            return `${day}-${month}-${year}`
        },
        parseDate (date) {
            if (!date) return null

            const [year, month, day] = date.split('-')
            return `${year}-${month}-${day}`
        },
        updateHistory: function (){
            this.$store
            .dispatch(HistoryReq, { macAddress: this.macAddress, datefrom : this.computedStartDateFormatted, dateto:this.computedStartDateFormatted})
            .then(
            );
        },            
        pollDevice() {
            this.pollingDevice = setInterval(()=> {
                this.updateHistory()
            }, 30000)
        }                                                          
    }
};
</script>
