<template>
    <v-container>
        <v-overlay
        :z-index="2"
        :absolute="true"
        :value="overlay"
        >
            <v-progress-circular
            indeterminate
            color="primary"
            ></v-progress-circular>
        </v-overlay>
        <Card                 
            :item="item"
            :actions="[]">
            <template v-slot:content>
                    <v-list flat>
                        <v-list-item-group color="primary" v-model="selection">
                            <v-list-item
                            v-for="(usr, i) in getJoins"
                            :key="i"
                            @click="delJoin(usr)"
                            >
                            <v-list-item-icon>
                                <v-icon v-if="usr.role.desc != 'admin'" color="primary" size="35">fa-unlink</v-icon>
                                <v-icon v-else color="primary" size="35">fa-user-secret</v-icon>
                            </v-list-item-icon>                            
                            <v-list-item-content>
                                <v-list-item-title>{{ usr.username }}</v-list-item-title>
                                <v-list-item-subtitle>{{ usr.role.desc }}</v-list-item-subtitle>
                                <v-list-item-subtitle class="caption">{{ getDateTime(usr.dataJoined) }}</v-list-item-subtitle>                                
                            </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
            </template>
            <template v-if="myRole.desc == 'admin' " v-slot:action>
              <v-btn icon @click="dialog = !dialog">
                <v-icon>mdi-share-variant</v-icon>
              </v-btn>
            </template>
        </Card>
        <v-dialog v-model="dialog" max-width="500px">
        <v-card>
            <v-card-title>
            <span class="headline">Add Join</span>
            </v-card-title>

            <v-card-text>
            <v-container>
                <v-row>
                <template>
                <v-col cols="12" sm="6" md="4" >
                    <v-text-field v-model="username" label="Username"></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-select
                        v-model="role"
                        :items="joinRole"
                        item-text="desc"
                        item-value="id"
                        menu-props="auto"
                        hide-details
                        label="Join Role"
                        single-line
                    ></v-select>
                </v-col>                                    
                </template>
                </v-row>
            </v-container>
            </v-card-text>

            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog = !dialog">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="addJoin">Save</v-btn>
            </v-card-actions>
        </v-card>
        </v-dialog>
        <v-dialog v-model="dialog2" persistent max-width="290">
        <v-card>
            <v-card-title class="headline">Delete Join</v-card-title>
            <v-card-text>Vuoi eliminare la condivisione di questo dispositivo per l'utente <strong>{{username}}</strong>?</v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialog2 = false; selection = null">No</v-btn>
            <v-btn color="green darken-1" text @click="deleteJoin(); selection = null">Yes</v-btn>
            </v-card-actions>
        </v-card>
        </v-dialog>
        <NotificationModal v-on:notificationClosed="goToHome" :content="notification.content" :level="notification.level" />                   
    </v-container>
</template>

<script>
    

import Card from '@/components/Card.vue'
import NotificationModal from '@/components/NotificationModal.vue'
import moment from 'moment'
import { mapGetters, mapState } from 'vuex'
import { AddJoinReq, DelJoinReq } from '@/store/actions.js'

export default {
    name: "JoinCard",

    components: { 
        Card,
        NotificationModal
    },

    props: {
        macAddress: String
    },

    data : function(){
        return {
            dialog: false,
            overlay: false,
            selection:null,
            dialog2: false,
            notContent: null,
            notLevel: null,
            id:-1,
            username:'',
            role: null,
            joinRole:[
                {
                    desc:'User',
                    id:1
                }
            ]
        }
    },

    created() {},

    mounted() {},

    destroyed() {},

    computed: {
        ...mapState({
            getDevices: state => state.device.devices,
            getJoins: state => state.join.joins,
            profile: state => state.user.profile            
        }),
        item : function () {
            return {
                icon: null,                 
                title: 'USER JOIN',
                overline: null,
                localized: true,
                type: this.device.state.id,
                subtitle:[]
            }
        },
        device: function () {
            var self = this
            let dev =  self.getDevices.filter(function (device) {
            if(device.macAddress.indexOf(self.macAddress) !== -1)
                return device
            })
            return dev[0]
        },
        notification:function(){
            return {content: this.notContent, level: this.notLevel}
        },        
        myRole: function () {
            var self = this
            let join =  self.getJoins.filter(function (join) {
            if(join.username.indexOf(self.profile.username) !== -1)
                return join
            })
            if(join.length > 0)
                return join[0].role
            else
                return 'user'
        },                              
        updatedAt : function() {return moment(this.device.updatedAt).format('DD-MM-YYYY HH:mm:ss')}
    },

    watch: {
        getJoins: function(){
            this.overlay = false
        }
    },

    methods: {
        action : function(){
            //this.$router.push({ name: 'deviceDetail', params: { macAddress: this.getDevice[this.id].macAddress } });
        },
        getDateTime : function(date) {return moment(date).format('DD-MM-YYYY HH:mm:ss')},
        addJoin: function (){
            this.overlay = true
            this.dialog = false
            this.$store
            .dispatch(AddJoinReq, {macAddress: this.macAddress, username: this.username, role:this.role })
            .then(
            ).catch((err) => {
                console.log(err)
                this.notContent = "["+err.response.status+"] "+ err.response.statusText + ": " + err.response.data.detail
                this.notLevel = 'error'
            });
        },
        delJoin: function (user){
            if(user.role.desc !== 'admin'){
                this.dialog2 = true
                this.id = user.id
                this.username = user.username
            }
            this.selection = null
        },
        deleteJoin: function (){
            this.overlay = true
            this.dialog2 = false
            this.$store
            .dispatch(DelJoinReq, {macAddress: this.macAddress, id : this.id})
            .then(()=>{
                this.notContent = "Operazione completata con successo"
                this.notLevel = 'success'
            }).catch((err) => {
                this.notContent = "["+err.response.status+"] "+ err.response.statusText + ": " + err.response.data.detail
                this.notLevel = 'error'
            }); 
            return true
        },
        goToHome: function(){
            if(this.myRole.desc != 'admin'){
                this.$router.push({ name: 'home'})
            }
        },                                  
    }
};
</script>
