<template>
    <v-container>
        <CardDetail
            :type="device.deviceType.desc"             
            :item="item"
            :actions="[]"
            :width="'350'">
            <template v-slot:card-device>
                <PushButton 
                    v-on:sendPush="sendPush()" 
                    :status="getStatus" 
                    v-on:sendIntensity="sendIntensity" 
                    :devIntensity="devIntensity"                     
                    :deviceState="getDeviceState" />
            </template>
        </CardDetail>   
    </v-container>
</template>

<script>
    

    import CardDetail from '@/components/CardDetail.vue'
    import PushButton from '@/components/Device/PushButton.vue'
    import { CmdsReq, CmdReq } from '@/store/actions.js'
    import { JoinReq } from '@/store/actions.js'*/
    import moment from 'moment'
    import { mapGetters, mapState } from 'vuex'

    export default {
        name: "PushButtonCard",

        components: { 
            CardDetail,
            PushButton
        },

        props: {
            macAddress: String
        },

        data : function(){
            return {
                isPoolCommand: true,
                pollingDevice: null,
            }
        },

        created() {},

        mounted() {
        
        },

        beforeDestroy () {
            clearInterval(this.pollingDevice)
        },  
        
        destroyed() {},

        computed: {
            ...mapGetters({
                getDevices: 'devices',
                getEvents: 'getEvents',
                getCommands: 'getCommands'
            }),            
            getStatus: function () {
                var self = this
                let status = "1"
                if(self.getCommands != undefined){
                    let cmd =  self.getCommands.filter(function (cmd) {
                    if(cmd.cmdType.desc === "SET_VALUE")
                        return cmd
                    })
                    if(cmd[0]!= null){
                        if(cmd[0].status.id == "0"){
                            status = "0"
                        }
                    }
                return status                      
                } 
            },        
            state : function (){
                var self = this
                let event =  self.getEvents.filter(function (event) {
                if(event.eventType.desc === "DEV_STATE")
                    return event
                })
                return event[0]                
            },
            devIntensity : function (){
                var self = this
                let event =  self.getEvents.filter(function (event) {
                if(event.eventType.desc === "DEV_INTENSITY")
                    return event
                })
                if(event[0]!= null){
                    if(event[0].result == "1"){
                        this.status = true
                    }
                    if(event[0].result == '250'){
                        return '0'
                    }else if(event[0].result == '500'){
                        return '1'
                    }else if(event[0].result == '750'){
                        return '2'
                    }else if(event[0].result == '1000'){
                        return '3'
                    }
                }              
                return '0'                
            },            
            value : function (){
                var self = this
                let event =  self.getEvents.filter(function (event) {
                if(event.eventType.desc === "DEV_VALUE")
                    return event
                })
                if(event[0].result == "1"){
                    this.status = true
                }else{
                    this.status = false
                }                
                return event[0]                
            },
            manualTrigger : function (){
                var self = this
                let event =  self.getEvents.filter(function (event) {
                if(event.eventType.desc === "MANUAL_TRIGGER")
                    return event
                })
                return event[0]                
            },                         
            device: function () {
                var self = this
                let dev =  self.getDevices.filter(function (device) {
                if(device.macAddress.indexOf(self.macAddress) !== -1)
                    return device
                })
                return dev[0]
            },
            item : function () {
                return {
                    icon: this.device.state.id == "1" ? "mdi-lan-connect" : 'mdi-lan-disconnect',                    
                    title: this.device.desc,
                    overline: 'dashboard.deviceState'+this.device.state.id,
                    localized: true,
                    type: this.device.state.id,
                    subtitle:[
                    {
                        desc: 'dashboard.mac',
                        text: this.device.macAddress
                    },
                    {
                        desc: 'dashboard.lastUpdate',
                        text: this.updatedAt
                    }]
                }
            },                     
            updatedAt : function() {return moment(this.device.updatedAt).format('DD-MM-YYYY HH:mm:ss')},
            getDeviceState : function(){
                if(this.state != undefined){
                    return this.state.result
                }else{
                    "0"
                }
            },                                 
        },

        watch: {},

        methods: {
            sendPush(e) {
                if(this.device.state.id != '0'){
                    let val = '0'
                    this.sendCommand({cmd : 'SET_VALUE', value : val})        
                }else{
                    alert("device not connected")
                }
            },
            sendIntensity(val) {
                if(this.device.state.id != '0'){
                    this.sendCommand({cmd : 'SET_INTENSITY', value : val})        
                }else{
                    alert("device not connected")
                }
            },            
            sendCommand: function (data){
                let self = this
                this.$store
                .dispatch(CmdReq, { macAddress: self.device.macAddress, cmd : data.cmd, value: data.value})
                .then(
                    this.isPoolCommand = true
                );
            }             
        }
    };
</script>
